[www-user]
user = {{ nginx_new_user }}
group = {{ nginx_new_user }}

listen = {{ nginx_fastcgi_listen }}
listen.owner = {{ nginx_user }}
listen.group = {{ nginx_user }}

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
