### Logging ###
log:
  loglevel: info

### Inbounds ###
inbounds:

{% for i in v2inbounds %}

{% if i.vmess is defined %}
  - {{ {
    'protocol': 'vmess',
    'port': i.vmess,
    'listen': i.listen | default('::'),
    'tag': i.tag | default(none),
    'settings': {
      'clients': i.clients
    },
    'streamSettings': i.stream_settings | default({})
  } | to_json }}

{% elif i.vless is defined %}
  - {{ {
    'protocol': 'vless',
    'port': i.vless,
    'listen': i.listen | default('::'),
    'tag': i.tag | default(none),
    'settings': {
      'clients': i.clients,
      'decryption': 'none'
    },
    'streamSettings': i.stream_settings | default({})
  } | to_json }}

{% elif i.ss is defined %}
  - {{ {
    'protocol': 'shadowsocks',
    'port': i.ss,
    'listen': i.listen | default('::'),
    'tag': i.tag | default(none),
    'settings': {
      'method': i.method | default('aes-256-gcm'),
      'password': i.password
    },
    'streamSettings': s.stream_settings | default({})
  } | to_json }}

{% elif i.socks is defined %}
  - {{ {
    'protocol': 'socks',
    'port': i.socks,
    'listen': i.listen | default('::'),
    'tag': i.tag | default(none),
    'settings': {
      'auth': 'noauth'
    },
    'streamSettings': s.stream_settings | default({})
  } | to_json }}

{% elif i.http is defined %}
  - {{ {
    'protocol': 'http',
    'port': i.http,
    'listen': i.listen | default('::'),
    'tag': i.tag | default(none),
    'settings': {
      'auth': 'noauth'
    },
    'streamSettings': s.stream_settings | default({})
  } | to_json }}

{% elif i.tcp is defined %}
{% set tcp_relay_tags = [] %}

{% for t in i.tcp | dict2items %}
  {% set current_tag = 'tcp_relay_' ~ t.key %}
  {{ tcp_relay_tags.append(current_tag) }}
  - {{ {
    'protocol': 'dokodemo-door',
    'port': t.key,
    'listen': '::',
    'tag': current_tag,
    'settings': {
      'address': t.value.rsplit(':', 1) | first,
      'port': t.value.rsplit(':', 1) | last | int,
      'network': 'tcp'
    }
  } | to_json }}
{% endfor %}

{% elif i.tg is defined %}
  - protocol: socks
    port: {{ i.tg }}
    listen: "{{ t.listen | default('::') }}"
    tag: inbound-tg
    settings:
{% if i.accounts is defined %}
      auth: password
      accounts: {{ i.accounts }}
{% else %}
      auth: noauth
{% endif %}

{% else %}
  - {{ i | to_json }}
{% endif %}
{% endfor %}

### Outbounds ###

outbounds:
{% for outbound in v2outbounds_default + v2outbounds %}
  - {{ outbound | to_json }}
{% endfor %}

### Transport ###

transport:
  tcpSettings:
    header:
      type: none

### Routing ###

routing:
  rules:
{% if tcp_relay_tags is defined %}
    - type: field
      inboundTag: {{ tcp_relay_tags | to_json }}
      outboundTag: direct
{% endif %}

{% for rule in v2rules_default %}
    - {{ {'type': 'field'} | combine(rule) | to_json }}
{% endfor %}

{% if v2_ads_domains %}
    - type: field
      domain:
{% for ads in v2_ads_domains %}
        - domain:{{ ads }}
{% endfor %}
      outboundTag: blocked
{% endif %}

{% if v2_telegram_ips %}
    - type: field
      ip:
{% for ip in v2_telegram_ips %}
        - {{ ip }}
{% endfor %}
      inboundTag:
        - inbound-tg
      outboundTag: direct

    - type: field
      inboundTag:
        - inbound-tg
      outboundTag: blocked
{% endif %}

{% for rule in v2rules %}
    - {{ {'type': 'field'} | combine(rule) | to_json }}
{% endfor %}
