{% if item.stat.exists %}
ssl_certificate {{ nginx_ssl_root }}/{{ item.item }}/full.pem;
ssl_certificate_key {{ nginx_ssl_root }}/{{ item.item }}/key.pem;
{% else %}
ssl_certificate {{ nginx_ssl_root }}/_/full.pem;
ssl_certificate_key {{ nginx_ssl_root }}/_/key.pem;
{% endif %}
