# Note: There are 3 variants of this unit file:
# 1. code-server.service (user unit, user-local installation)
# 2. code-server-system.service (user unit, system installation)
# 3. code-server@.service (system unit, system-wide running as specific user)

[Unit]
Description=code-server for %i
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=~
ExecStart=/usr/bin/code-server
Restart=always

# Security & Sandboxing
NoNewPrivileges=yes
KeyringMode=private
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectProc=invisible

[Install]
WantedBy=multi-user.target
