[Unit]
Description=High performance HTTP server that implements restic's REST backend API
Documentation=https://github.com/restic/rest-server

[Service]
Type=simple
ExecStart=/usr/bin/rest-server --path /data/data/restic-backups --no-auth --listen :8000
ReadWritePaths=/data/data/restic-backups
DynamicUser=yes
ProtectHome=yes
PrivateUsers=yes
PrivateDevices=yes
ProtectProc=invisible
PrivateNetwork=yes

[Install]
WantedBy=multi-user.target
