proxy_cache_path /var/cache/nginx/social-cyannyan-com levels=1:2 keys_zone=pleroma_media_cache:10m max_size=1g inactive=720m use_temp_path=off;

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  include {{ nginx_ssl_snippets }}/{{ site.ssl_host }}.conf;

  server_name {{ site.server_name }};

  client_max_body_size 50M;

  add_header Strict-Transport-Security "max-age=63072000" always;

  location / {
    include snippets/proxy.conf;
    include snippets/websocket.conf;

    client_max_body_size 50M;
    proxy_pass http://neko;
  }

  location /proxy {
    proxy_cache pleroma_media_cache;
    proxy_cache_lock on;
    proxy_ignore_client_abort on;
    proxy_pass http://neko;
  }

  location ~ /\.ht {
    deny all;
  }

}
