# Redirect all {{ http_port }} requests
server {
  listen {{ http_port }} default_server;
  listen [::]:{{ http_port }} default_server;

  # Allow ACME to use HTTP
  location /.well-known/acme-challenge/ {
    root {{ html_root }};
  }

  # {{ redirect_code }} redirect
  location / {
    return {{ redirect_code }} https://$host$request_uri;
  }
}

# Deny SSL without proper SNI
server {
  listen {{ https_port }} ssl http2 default_server;
  listen [::]:{{ https_port }} ssl http2 default_server;

  ssl_reject_handshake on;
}
