# Redirect all {{ nginx_http_port }} requests
server {
  listen {{ nginx_http_port }} default_server;
  listen [::]:{{ nginx_http_port }} default_server;

  # Allow ACME to use HTTP
  location /.well-known/acme-challenge/ {
    root {{ nginx_html_root }};
  }

  # {{ nginx_redirect_code }} redirect
  location / {
    return {{ nginx_redirect_code }} https://$host$request_uri;
  }
}

# Deny SSL without proper SNI
server {
  listen {{ nginx_https_port }} ssl http2 default_server;
  listen [::]:{{ nginx_https_port }} ssl http2 default_server;

  ssl_reject_handshake on;
}
