server {
  listen {{ https_port }} ssl http2;
  listen [::]:{{ https_port }} ssl http2;

  include {{ nginx_ssl_snippets }}/{{ vars.ssl_host }}.conf;

  server_name {{ vars.server_name }};

{% if site.vmess is defined %}
  location {{ site.vmess }} {
    include snippets/websocket.conf;
    include snippets/proxy0.conf;

    proxy_pass http://vmess;
  }
{% endif %}

{% if site.vless is defined %}
  location {{ site.vless }} {
    include snippets/websocket.conf;
    include snippets/proxy0.conf;

    proxy_pass http://vless;
  }
{% endif %}

}
