[Unit]
Description=Aria2 download manager with RPC

[Service]
ExecStart=/usr/bin/aria2c --enable-rpc
NoNewPrivileges=yes
ProtectSystem=full
PrivateTmp=yes
Restart=on-failure

[Install]
WantedBy=default.target
