[Unit]
Description=code-server (for user) - System installation
After=network.target

[Service]
WorkingDirectory=%h
ExecStart=/usr/bin/code-server
Type=simple
NoNewPrivileges=yes
ProtectSystem=full
PrivateTmp=yes
Restart=always

[Install]
WantedBy=default.target
