[Unit]
Description=code-server (for user)
After=network.target

[Service]
WorkingDirectory=%h
ExecStart=%h/.local/bin/code-server
Type=simple
NoNewPrivileges=yes
ProtectSystem=full
PrivateTmp=yes
Restart=always

[Install]
WantedBy=default.target
