[Unit]
Description=Jupyter Lab (for user)

[Service]
WorkingDirectory=%h
ExecStart=%h/.local/bin/jupyter lab --no-browser
Type=simple

[Install]
WantedBy=default.target
