[Unit]
Description=Tmux service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %i -d
ExecStop=/usr/bin/tmux kill-session -t %i
Restart=on-failure

[Install]
WantedBy=default.target
