[Unit]
Description=Tmux master service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s 0 -d
KillMode=mixed
Restart=on-success

[Install]
WantedBy=default.target
