# https://gist.github.com/gavinhungry/7a67174c18085f4a23eb

ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
ssl_prefer_server_ciphers on;
ssl_ecdh_curve secp521r1:secp384r1;
# ssl_protocols TLSv1.3;

# ssl_session_cache shared:TLS:10m;
ssl_buffer_size 4k;

ssl_dhparam ffdhe4096.pem;
